

<div class="app-container">
  <app-search (searchCity)="searchCity($event)"></app-search>

  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

  <div *ngIf="!isLoading && !hasError">
    <app-current-weather [weather]="currentWeather"></app-current-weather>
    
    <app-forecast-chart 
      *ngIf="dailyForecasts.length > 0" 
      [forecasts]="dailyForecasts">
    </app-forecast-chart>
    
    <app-forecast-list 
      [forecasts]="dailyForecasts"
      (selectDay)="onDaySelected($event)">
    </app-forecast-list>
    
    <app-hourly-forecast 
      *ngIf="selectedDay"
      [selectedDay]="selectedDay">
    </app-hourly-forecast>
  </div>

  <div *ngIf="hasError && !isLoading" class="error-message">
    <mat-icon>error_outline</mat-icon>
    <p>Unable to load weather data. Please try another city.</p>
  </div>
</div>